.shoePage h1 {
  text-align: left;
  font-size: 2em;
}

.shoePage h2 {
  text-align: left;
  font-size: 1em;
  margin-top: -0.75em;
  color: #ccc;
}

.shoePage {
  padding: 1em 2em;
}

.shoePage ul.list-group {
  margin-left: 0px;
  margin-top: 1em;
}
