.shoeModule {
  padding: 1em;
}

.list-group-item {
  border-radius: 0px !important;
  font-size: 0.4em;
  padding: 0.6em !important;
}

ul.list-group {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.shoeModule h1 {
  font-size: 0.9em;
}

.shoeModule p {
  font-size: 0.6em;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1em;
}

.btn-block {
  margin-top: 8em;
}
